venv/
.env
agents/transcripts
credentials.json
token.json
browser_profile/
unverified_transcripts/
verified_transcripts/
playwright_profile/
agents/__pycache__
website/node_modules
platform/backend/node_modules
platform/frontend/node_modules
platform/frontend/.angular